.about-container {
    background-color: #080808;
    padding: 40px 20px 60px 20px;
    color: #F7FFF7;
    font-size: medium;
    line-height: 2;
    font-weight: 300;
    text-align: center;

  }

  .about-container .text-container {
    text-align: left;
  }

  .about-container #aboutImg {
    max-width: 300px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .image-outer-container {
    text-align: center;
  }
  .image-container {
    background-image: url('../../imgs/profile_nohover.png');
    height: 350px;
    width: 350px;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;  
    margin-top: 50px;
  }
  
  
  .image-container:hover {
    background-image: url('../../imgs/profile_hover.png');
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;  
  }

