.contact-container {
    background-color: #030404;
    padding: 40px;
    color: #F7FFF7;
    font-weight: 300;
    text-align: center;
  
  }
  
  .contact-container #contactImg {
    max-width: 40%;
  }