html, body {
  min-height: 100%;
  background-color: #181b1f;
  overflow-x: hidden;
  cursor: url(imgs/cursor_s.png), pointer;
 }

 .container-fluid {
  padding: 0px !important;
  margin: 0px;
  cursor: url(imgs/cursor_s.png), pointer;

 }
