.work-container {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right 200px;
  background-color: #000000c9;
  color: #F7FFF7;
  font-size: 28px;
  font-weight: 300;
  padding-left: 100px;
  padding-right: 100px;
  -webkit-box-shadow: inset 0px 0px 34px 4px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 0px 34px 4px rgba(0,0,0,1);
  box-shadow: inset 0px 0px 34px 4px rgba(0,0,0,1);
  background-image: url("../../imgs/pattern_forRepeat_60.png");
  background-repeat: repeat-x;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; 
}

.work-container:hover {
  background-image: url("../../imgs/pattern_forRepeat_20.png");
  background-repeat: repeat-x;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;   
}

.work-container-inner {
  padding: 40px;
}

@media screen and (max-width: 540px) {
  .work-container-inner {
    padding-left: 0px;
    padding-right: 0px;
  }
  .work-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 540px) and (max-width: 992px) {
  .work-container-inner {
    padding-left: 10px;
    padding-right: 10px;
  }
  .work-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.work-container-inner h3 {
  margin-bottom: 0.7em;
}

.Collapsible__contentOuter {
  transition: height 500ms ease-in-out 0s !important;
}

.Collapsible__trigger {
  display: block;
  position: relative;
  font-size: smaller;
}

.Collapsible__trigger:after {
  font-family: 'FontAwesome';
  content: '\22C1';
  color: rgba(255, 255, 255, 0.728);
  position: absolute;
  right: 10px;
  transition: transform 300ms; 
}

.Collapsible__trigger:hover:after,  .Collapsible__trigger:hover {
  color: #8fdfe8;
}

.Collapsible__trigger {
  display: inline-block;
  padding-right: 30px;
}

.Collapsible__trigger.is-open:after {
  transform: rotateZ(180deg); 
}

.skills-section .Collapsible__trigger {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-top: 2.5em;
}

.work-section, .inner-skill-section {
  max-width: 100%;
  padding: 20px;
  margin-bottom: 30px;
  font-size: medium;
  line-height: 1.5;
  background-color: #ffffff0d;
}

.work-section {
  margin-top: 30px;
}

.work-section button {
  margin-right: 10px;
}

.work-section .title, .skills-section .title {
  line-height: normal;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: -2px;
}

.work-section .subtitle,  .skills-section .subtitle {
  font-size: 21px;
  font-style: italic;
  margin-bottom: 10px;
  margin-top: 10px;
  line-height: 1.2;
}

.skills-section i {
  margin-left: 7px;
}

/* Left side (image and tools) */
.work-section img {
  max-width: 100%;
  margin-top: 25px;
  margin-bottom: 20px;
}

.tools-bar {
  font-size: smaller;
  font-weight: bolder;
  text-align: right;
  color: #8fdfe8;
}

.tools-bar p {
  display: inline;
  margin-right: 10px;
  vertical-align: bottom;
  font-style: italic;
}

.tools-bar img {
  max-width: 32px;
  margin: 5px 5px 0px 0px;
  filter:saturate(0.5);
}

.tools-bar img:hover {
  transform: scale(1.3);
  filter:saturate(1);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;  
}

.work-section .innerText  {
  margin-bottom: 10px;

}

/* Bottom bar: */
.button-nav-bar {
  margin-top: 30px;
}
 .work-section a {
  color: #8fdfe8 !important;
 }

#special-link {
  margin-bottom: 10px;
  color: #8fdfe8;
  display: inline;
}

#special-link:hover {
  text-decoration: underline;
}

#insta-text {
  margin-top: 20px;
}

/* Button animation */
@keyframes wiggle {
  0% { transform: rotate(0deg); }
  1% { transform: rotate(-2deg); }
  2% { transform: rotate(2deg); }
  3% { transform: rotate(-2deg); }
  4% { transform: rotate(2deg); }
  5% { transform: rotate(-2deg); }
  6% { transform: rotate(2deg); }
  7% { transform: rotate(-2deg); }
  8% { transform: rotate(2deg); }

  10%, 100% {
    transform: rotate(0deg); 
  }

}

.button-nav-bar button {
  display: inline-block;
  animation: wiggle 15s ease infinite;
  animation-delay: 10s;

}
